* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.title {
  text-align: center;
  margin-top: 10rem;
  color: #FFF;
  font-size: 3rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  position: relative;
}

.icon {
  color: #000;
  transform: translateY(265%);
  position: absolute;
  padding-left: 8px;
}

.search-input {
  display: flex;
  margin: 2rem 2rem 0 0;
  margin-right: 10px;
  padding: 10px 10px 10px 35px;
  width: 400px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.responses {
  background-color: #FFF;
  width: 35vw;
  height: 32vh;
  margin: auto;
  margin-top: 2rem;
  border-radius: 5px;
}

.styles {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

h2 {
  font-weight: bold;
  padding-bottom: 1rem;
}

button[type="submit"] {
  margin-top: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: darkorange;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button[type="submit"]:hover {
  background-color: rgb(181, 102, 5);
}

@media only screen and (max-width: 1480px) {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input[type="text"] {
    display: flex;
    margin: 2rem 2rem 0 0;
    margin-right: 10px;
    margin-top: 2rem;
    padding: 10px 10px 10px 40px;
    width: 400px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
}